# 실행 파일 제외 
*.dll
*.exe
*.o
*.so
*.com
*.class

# 패키지 파일
*.dmg
*.iso
*.tar
*.zip
*.gz

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
PyTorh/.vscode/settings.json
.vscode/settings.json
MNIST/.vscode/settings.json
MNIST/.ipynb_checkpoints/Untitled-checkpoint.ipynb
MNIST/Untitled.ipynb

# 데이터 파일
DACON/Month13/data/*
DACON/Month13/.ipynb_checkpoints/Untitled-checkpoint.ipynb

DACON/data/*

